* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(service-bg.jpg);
  background-size: cover;
}

#services {
  width: 100%;
  position: relative;
  background-color: rgba(70, 70, 252, 0.7);
  position: relative;
  /* z-index: -1; */
}

.container {
  padding: 30px 0;
}

.container .row .col-12 h4 {
  color: rgba(254, 254, 255, 0.767);
  position: relative;
  left: 50px;
}

.container .row .col-12 h4::before{
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: -45px;
  width: 40px;
  height: 2px;
  background-color: #e7601e;
}

.container .row .col-12 h1 {
  color: white;
  font-weight: 900;
}

.container .row .col-12 h1 span {
  color: #e7601e;
}

.container .row .col-12 p {
  color: rgba(240, 240, 240, 0.815);
}



.container .row .col_6 .card_box div {
  position: relative;
}

.image {
  width: 100%;
  max-height: 600px;
  transition: .4s;
}

.fa-link{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  font-size: 42px;
  color: white;
  opacity: 0;
  transition: 0.8s;
}

.img_box{
  width: 100%;
  max-height: 600px;
  overflow: hidden;
  background-color: #e7601e;
}

.card_box:hover .image{
  transform: scale(1.2);
  opacity: .2;
}
.card_box:hover .fa-link{
  opacity: 1;
  top: 30px;
  right: 30px;
}
.container .row .col_6 .card_box div .box {
  width: 90%;
  padding: 20px;
  background-color: white;
  position: absolute;
  bottom: -30px;
  right: 0;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.container .row .col_6 .card_box div .box h2 {
  font-size: 20px;
  font-weight: 600;
}

.container .row .col_6 .card_box div .box img {
  width: 200px;
  width: 200px;
  position: absolute;
  bottom: -35px;
  right: -30px;
  opacity: .1;
}

.container .row .col_4 {
  margin-top: 50px;
  padding: 10px;
}

.container .row .col_4 .card_box div {
  position: relative;
}

.container .row .col_4 .card_box div img {
  width: 100%;
  max-height: 400px;
}

.container .row .col_4 .card_box div .box {
  width: 90%;
  padding: 15px;
  background-color: white;
  position: absolute;
  bottom: -30px;
  overflow: hidden;
  right: 0;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
}

.container .row .col_4 .card_box div .box h2 {
  font-size: 20px;
  font-weight: 600;
}

.container .row .col_4 .card_box div .box img {
  width: 200px;
  width: 200px;
  position: absolute;
  bottom: -40px;
  right: -30px;
  opacity: .1;
}



/* ---------------------Link Style------------------------------ */

.readmorelink{
  text-decoration: none;
  display: inline-block;
  padding: 6px 15px;
  border-radius: 50px;
  box-shadow: 2px 2px 5px -2px rgb(55 64 61 / 40%);;
  color: #e7601e;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  transition: .6s;
}

.span_l{
  display: block;
  width: 53px;
  height: 40px;
  background-color: black;
  opacity: .1;
  position: absolute;
  top: 0;
  left: 0;
}

.span_r{
  display: block;
  width: 54px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  opacity: .1;
  position: absolute;
  top: 0;
  right:0;
}

@keyframes link_anime_L{
  from{
    left: 0;
  }
  to{
    left:-55px;
  }
}

@keyframes link_anime_R{
  from{
    right: 0;
  }
  to{
    right:-55px;
  }
}

.readmorelink:hover{
  background-color: #e7601e;
  color: white;
}

.readmorelink:hover .span_l{
  animation-name: link_anime_L;
  animation-timing-function:ease-in;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-direction: alternate;
}

.readmorelink:hover .span_r{
  animation-name: link_anime_R;
  animation-timing-function:ease-in;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-direction: alternate;
}

/* ---------------------------------------------------------- */

